#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  align-items: center;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button > svg {
  margin-right: 7px;
  color: #646cff;
}

button.button-sm {
  padding: 7px 11px;
  font-size: 12px;
}

button.button-lg {
  padding: 30px 40px;
}

button {
  color: green;
}

/* Success Variant */
button.button-success {
  border-color: green;
  color: green;
  background-color: #d4edda; /* Light green */
}

/* Warning Variant */
button.button-warning {
  border-color: orange;
  color: orange;
  background-color: #fff3cd; /* Light orange */
}

/* Danger Variant */
button.button-danger {
  border-color: red;
  color: red;
  background-color: #f8d7da; /* Light red */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.3rem solid white;
}

.avatar > img {
  width: 100%;
}

.avatar-letters {
  background-color: var(--red);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-family: "Karla", sans-serif;
}

.avatar-icon {
  background-color: var(--navy);
}

.avatar > svg {
  height: 100%;
  width: 100%;
  transform: translateY(20px);
  color: whitesmoke;
}

/*
  Classes below will help with rendering random
  background colors for the extra credit
  */
.navy {
  background-color: #1f2937;
}

.pink {
  background-color: #da6aec;
}

.red {
  background-color: #f43f5e;
}

.blue {
  background-color: #2f74dc;
}

.green {
  background-color: #22cd90;
}

.menu {
  position: relative;
  display: inline-block;
}

.menu-button {
  background-color: white;
}

.menu-dropdown {
  position: absolute;
  left: 0;
  margin-top: 3px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 6px;
  background-color: white;
}

.menu-item {
  color: #4b5563;
  padding: 0.75rem;
  cursor: pointer;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.menu-item:hover {
  background-color: whitesmoke;
}

.menu-item:not(:last-child) {
  border-bottom: 1px solid #6b7280;
}
